body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.titulo-formulario,
.titulo-lista {
    margin-bottom: 10px;
}

.formulario-estudiantes {
    margin-bottom: 20px;
}

.formulario-estudiantes label {
    display: inline-block;
    width: 100px;
}

.formulario-estudiantes input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

.formulario-estudiantes button {
    padding: 5px 10px;
    background-color: #B47B84;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.formulario-estudiantes button:hover {
    background-color: #944E63;
}

.tabla-estudiantes {
    border-collapse: collapse;
    width: 100%;
}

.tabla-estudiantes, th, td {
    border: 1px solid #ddd;
}

.tabla-estudiantes th, .tabla-estudiantes td {
    padding: 8px;
    text-align: left;
}

.tabla-estudiantes th {
    background-color: #f2f2f2;
}

.tabla-estudiantes .boton-limpiar {
    background-color: #FFE4C9;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.tabla-estudiantes .boton-limpiar:hover {
    background-color: #E78895;
}
